#
# The URL of the server to which you want to connect
#
driver=net.sourceforge.jtds.jdbc.Driver
url=jdbc:jtds:sqlserver://localhost/dbname
USER=XXXX
PASSWORD=YYYY
SERVERNAME=localhost
PORTNUMBER=1433
DATABASENAME=dbname
XAEMULATION=true

#
# TDS Version
#

#
# Use this for MS SQL Server 6.5+
#
#TDS=4.2

#
# Use this for Sybase 10+
#
#TDS=5.0

#
# Use this for MS SQL Server 7.0+
#
#TDS=7.0

#
# Use this for MS SQL Server 2000 (default)
#
TDS=8.0
