#
# (Optional) ODBC database URL for the same databse
#
# This is used for running comparison tests
#
# Replace DSN-NAME with your ODBC connection name
#
url=jdbc:odbc:DSN-NAME

#
# Database username
#
# Replace USERNAME with a valid user on your database
#
user=USERNAME

#
# Database password
#
# Replace PASSWORD with a valid password
#
password=PASSWORD
